*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about-me {
    display: flex;
    justify-content: space-around;
}

.information {
    width: 473px;
    height: 540px;
}

.about-me-img {
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-me-img img {
    width: 100%;
    height: auto;
    transform: scale(0.5);
}